.iconWrapper {
	margin-top: 4px;
	.icon {
		color: rgba(0, 0, 0, 0.6);
		background-color: #eeeeee;
		width: 30px;
		height: 30px;
		padding: 5px;
		border-radius: 2px;
		margin-left: 12px;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background-color: #dedfe1;
		}
	}
}
